.signup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: linear-gradient(to bottom right, #2a5058, #0083b0, #bbd2da); */
  background-image: linear-gradient(to top left, #30cfd0 0%, #330867 100%);
  padding: 1rem;
}

.signup-card {
  background-color: rgba(250, 250, 250, 0.3);
  border-radius: 10px;
  padding: 2rem;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.signup-title {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
}

.form-group {
  margin-bottom: 1.2rem;
}
.error{
  color: red;
}
label {
  display: block;
  margin-bottom: 0.4rem;
  font-weight: 600;
  color: #333;
}

.form-group input,
.form-group select{
  width: 100%;
  padding: 6px 10px;
  border-radius: 8px;
  border: none;
}

 .signup-card form .push-button{
  padding: 8px 10px;
  min-width: 30%;
  width: 40%;
  border: none;
  border-radius: 10px;
  background-color: rgb(45, 223, 45);
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 1px;
  display: block;
  margin: 0 auto;
}

.signup-card form .push-button:hover {
  box-shadow: 5px 5px 7px rgba(237, 232, 232, 0.6);
  color: #fff;
  
}
.signup-card form .push-button:active {
  transform: translateY(4px); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}